.App-container{
  background-image: url(./img/pokebackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.pokemons-container{
  display: flex;
  justify-content: center;
}
.App-pokemons-content{
  width: 90%;
  margin: 0px auto;
}

.pokemon-container{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 40px;
}

.select-types{
  padding: 20px;
  text-align: center;
}

.filter-label{
  color: rgb(225, 225, 225);
  font-size: 16px;
}
